em{
	font-style:normal;
}

footer{
	position:fixed;
	z-index:100;
	bottom:0;
	left:0;
	background:#04BE02;
	width:100%;
	div{
		height:4rem;
		margin:0.5rem 0;
		display:table-cell;
		vertical-align: middle;
		text-align: center;
		i{
			color:#888888;
		}
		p{
			color:#888888;
			font-size: 12px;
			margin:0;
		}
		&:hover,&:active,&.active{
			i,p{
				color:#ffffff;
			}
		}
		&:hover{
			cursor:pointer;
		}
	}
}