@import "variable";

.music_player {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "宋体", "Arial", "sans-serif";
  font-size: 16px;
  background: url("../lib/HTML5MusicPlayer/images/bg.png") no-repeat;
  background-size: cover;
  width: 100%;
  min-width: 320px;
  overflow: hidden;

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .hidden{
    display:none !important;
  }

  input[type='file']{
    display:none;
  }

  .rotation{
    -webkit-animation: rotation 20s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
}

.player_header {
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
  border-bottom: solid 1px rgba(207, 209, 215, 0.5);

  marquee{
    display:block;
    height:2rem;
  }

  .playing_info{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: $white;
    font-size: 17px;
    text-align: center;
    padding: 10px;
    -webkit-box-sizing: border-box;

    i{
      font-size:2rem;
      margin-right:1rem;
      display:block;
      line-height:2rem;
    }

    .songName{
      font-weight: bold;
    }

    .singer{
      font-size: 13px;
    }
  }
}

.player_footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  min-width: 320px;
}
.player_footer #playerProgress {
  display: -webkit-box;
}
.player_footer #playerProgress > div {
  -webkit-box-flex: 1;
}
.player_footer #playerProgress .time {
  width: 80px;
  max-width: 80px;
  min-width: 80px;
  color: #f9f5fa;
  text-align: center;
}
.player_footer #playerProgress .progressbar {
  -webkit-box-flex: 3;
  height: 3px;
  background-color: #cfcbd0;
  margin-top: 8px;
}
.player_footer #playerProgress .progressbar .bar {
  display: block;
  width: 0;
  height: 100%;
  background: #52a9eb;
  position: relative;
}
.player_footer #playerProgress .progressbar .bar:after {
  content: " ";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: $white;
  right: -4px;
  top: -3px;
  -webkit-box-shadow: 0 0 1px 4px #52a9eb;
}
.player_footer #playerCtrl {
  display: -webkit-box;
  width: 100%;
  padding: 15px 0;
}
.player_footer #playerCtrl > div {
  -webkit-box-flex: 1;
}
.player_footer #playerCtrl > div .button {
  display: block;
  margin: auto;
  width: 58px;
  height: 48px;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  -webkit-border-radius: 30px;
}
.player_footer #playerCtrl > div .button:active {
  -webkit-box-shadow: 0 0 1px 2px #f9f5fa;
}
.player_footer #playerCtrl > div .button.loop {
  background-image: url("../lib/HTML5MusicPlayer/images/pcrl/loop.png");
}
.player_footer #playerCtrl > div .button.random {
  background-image: url("../lib/HTML5MusicPlayer/images/pcrl/random.png");
}
.player_footer #playerCtrl > div .button.single {
  background-image: url("../lib/HTML5MusicPlayer/images/pcrl/single.png");
}
.player_footer #playerCtrl > div .button.prev {
  background-image: url("../lib/HTML5MusicPlayer/images/pcrl/prev.png");
}
.player_footer #playerCtrl > div .button.play {
  background-image: url("../lib/HTML5MusicPlayer/images/pcrl/play.png");
}
.player_footer #playerCtrl > div .button.pause {
  background-image: url("../lib/HTML5MusicPlayer/images/pcrl/pause.png");
}
.player_footer #playerCtrl > div .button.next {
  background-image: url("../lib/HTML5MusicPlayer/images/pcrl/next.png");
}
.player_footer #playerCtrl > div .button.collect {
  background-image: url("../lib/HTML5MusicPlayer/images/pcrl/collect.png");
}
.player_footer #playerCtrl > div .button.collected {
  background-image: url("../lib/HTML5MusicPlayer/images/pcrl/collected.png");
}

.player_content {
  position: absolute;
  left: 0;
  bottom: 100px;
  top: 45px;
  width: 100%;
  overflow: hidden;

  .panel{
    width:100%;
    height:100%;
    background:transparent;
    margin:0;
  }

  .cd{
    position:relative;
    .cd_this{
      position:absolute;
      z-index:10;
      width:$CD-size;
      height:$CD-size;
      top:50%;
      left:50%;
      overflow:hidden;
      margin-top:calc(0px - ((100vw - 5rem) / 2));
      margin-left:calc(0px - ((100vw - 5rem) / 2));
      border-radius:$CD-size-half;
      -webkit-border-radius:$CD-size-half;
      -moz-border-radius:$CD-size-half;
      -o-border-radius:$CD-size-half;
      img{
        display:block;
        width:100%;
        height:100%;
      }
    }
    .cd_img{
      position:absolute;
      z-index:11;
      width:5rem;
      height:5rem;
      top:50%;
      left:50%;
      margin-top:-2.5rem;
      margin-left:-2.5rem;
      background:url("../images/cd.png") no-repeat;
      background-size:cover;
    }
  }

  .lyric{
    width:80%;
    height:80%;
    margin:10% 10%;
    position:relative;
    overflow:hidden;
    ul{
      position:absolute;
      bottom:0;
      left:0;
      width:100%;
      li{
        float:left;
        width:100%;
        line-height:2rem;
        font-size:1.2rem;
        color:$white;
        text-align:center;
      }
    }
  }

  .show_btn{
    position:absolute;
    z-index:20;
    bottom:1rem;
    left:2rem;
    width:3rem;
    height:3rem;
    border:0.2rem solid $white;
    border-radius:1rem;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -o-border-radius:1rem;
    a{
      display:block;
      width:100%;
      height:100%;
      color:$white;
      font-size:2rem;
      text-decoration:none;
      text-align:center;
      line-height:2.6rem;
    }
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}