@import "variable";

.user_index_top{
	padding:3.5rem 2rem;
	background:url("./images/user_bg.jpg") no-repeat;
	background-size:100% 100%;
	.user_icon{
		width:100%;
		height:6rem;
		position:relative;
		img{
			position:absolute;
			top:0;
			left:50%;
			margin-left:-3rem;
			width:4rem
			height:4rem;
			border:1rem solid #FFF;
			border-radius:2rem;
			-webkit-border-radius:2rem;
			-moz-border-radius:2rem;
			-o-border-radius:2rem;
		}
	}
	p{
		width:100%;
		text-align:center;
		font-size:1.6rem;
		color:#000;
	}
	em{
		font-style:normal;
		width:100%;
		text-align:center;
		color:#000;
	}
}