<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<title>FW音乐小屋</title>

		<!--Dependencies Styles Start-->
		<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="styles/weui.min.css" />
		<link rel="stylesheet" type="text/css" href="styles/jquery-weui.min.css" />
		<link rel="stylesheet" type="text/css" href="styles/font-awesome.min.css" />
		<!--Dependencies Styles End-->
	</head>
	<body>
		<div id="app"></div>
	</body>
</html>